html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: 'Arial', sans-serif;
	padding: 40px;
	background-color: #f1f1f1;
}

/* Button block */

.btn {
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #0145a5;
	color: white;
	padding: 13px 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: #2057a3;
}
.btn:active {
	background-color: #012455;
}
.btn:focus {
	outline: 1px solid #0145a5;
	outline-offset: 3px;
}

/* yellow color modifier */

.btn_yellow {
	background-color: #ffb800;
}

/* rating  block */

.rating {
	display: flex;
}
/* rating element */
.rating__star:not(:last-child) {
	margin-right: 6px;
}

/* size modifiers */
.rating__star_size_s {
	transform: scale(1.1);
}
.rating__star_size_m {
	transform: scale(1.2);
}
.rating__star_size_l {
	transform: scale(1.3);
}

/* card block */

.card {
	background-color: white;
	border-radius: 15px;
	overflow: hidden;
}
/* card element */

.card__img {
	display: block;
	width: 100%;
	height: 217px;
	object-fit: cover;
}

.card__body {
	padding: 43px 36px;
}

.card__price-rating {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.card__price {
	font-size: 20px;
	font-weight: 700;
}

.card__rating {
	margin-left: 20px;
}

.card__title {
	margin-top: 0;
	margin-bottom: 14px;
	font-size: 16px;
	font-weight: normal;
}

.card__location {
	display: block;
	font-size: 16px;
	margin-bottom: 18px;
	color: #999;
}

/* promotion */
.card_promo {
	position: relative;
	outline: 5px solid #ffb800;
}

.card_promo::before {
	content: 'PROMOTION!';
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: #ffb800;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px 30px;
	color: white;
	font-weight: 700;
}

/* Grid */

.cards-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* .cards-list__item {
} */
